{% extends "base.html" %}

{% block content %}
    <!-- Dashboard -->

    <div id="dashboardContainer">
        <header>
            <!-- Fixed navbar -->
            <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
                <a class="navbar-brand" href="#">MongoKeeper</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
            </nav>
        </header>

        <main role="main" class="container">
            <div class="keeper-header px-3 py-3 pt-md-5 pb-md-4 mt-5 mx-auto text-center">
                <h1 class="display-4">MongoKeeper</h1>
                <p class="lead">Quickly build example to illustrate MongoDB Atlas hosted on a Google Cloud instance. It's built with Bootstrap, Python Flask and MongoDB (Version: <span>{{ mongo_version }}</span>) components and utilities with little customization.</p>
            </div>

            <div class="row mb-3">
                <div class="col-3 order-last">
                    <div class="dropdown">
                        <button class="btn btn-outline-secondary dropdown-toggle mb-3" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Chose Collection
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            {% for collection in collections %}
                                <a class="dropdown-item" href="#">{{collection}}</a>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <div class="col-9 order-first">
                    <!-- Input Query Wrapper -->
                    <form id="formFilterQueryId" method="post" action="">
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text">
                                    <span class="badge badge-pill badge-danger" id="badgeFilterInput">Filter Query</span>
                                </span>
                            </div>
                            <input type="text"
                                   id="inputFilterQuery"
                                   name="filter"
                                   class="form-control"
                                   placeholder="Type in your JSON style query"
                                   aria-label="Type in your JSON style query"
                                   aria-describedby="basic-addon2">
                            <div class="input-group-append">
                                <button class="btn btn-success disabled" type="button" id="btnFilterSubmit">Find</button>
                            </div>
                        </div>
                    </form>

                    <!-- Pagination Area Wrapper -->
                    <div class="row">
                        <div class="col">
                            <nav aria-label="Filter result pages">
                                <div class="row">
                                    <div class="col-6">
                                        <span class="small hidden" style="margin-right: 0.5em;" id="spanRecordRangeText">
                                            <strong id="recordRangeID"></strong> of <strong id="totalRecordsID"></strong>
                                        </span>
                                    </div>
                                    <div class="col-6">
                                        <ul class="pagination justify-content-end hidden" id="ulPagination">
                                            <li class="page-item" id="liPaginationPrevious">
                                                <a class="page-link" id="btnPaginationPrevious" href="#" aria-label="Previous">
                                                    <span aria-hidden="true">&laquo;</span>
                                                </a>
                                            </li>
                                            <li class="page-item" id="liPaginationNext">
                                                <a class="page-link" id="btnPaginationNext" href="#" aria-label="Next">
                                                    <span aria-hidden="true">&raquo;</span>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </nav>
                        </div>
                    </div>

                    <!-- Result Area Wrapper -->
                    <div class="row mb-3">
                        <div class="col">
                            <table class="table table-striped table-bordered" id="tableFilterResults">
                                <tbody></tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </main>

        <footer class="footer">
            <div class="container">
                <p class="text-muted text-center">© 2017-2018 Commerzbank AG</p>
            </div>
        </footer>
    </div>
    <!-- End Dashboard -->
{% endblock %}